.comment_main{
    margin-left: 3%;
    margin-right: 6%;
}
.privacy{
    margin-top: 6%;
}
.privacy p{
    font-size: 10px;
    line-height: 14px;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 600;
    color: #aaa;
    margin: 2px;
}
.privacy p:first-child{
    color: #be3621;
}
.comment_box{
    text-align: right;
    margin-bottom: 15px;
}
.comment_box textarea{
    width: 100%;
    height: 80px;
    border-radius: 5px;
    margin-top: 20px;
}
.comment_box button{
    margin-top: 10px;
}
.comment_card{
    text-align: left;
    padding: 0;
    margin: 0;
}
.bookmarks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
}